@media(max-width:1100px) {

    .section1 li {
        display: block;
        text-align: center;
        line-height: 70px;

    }


    .section1 .menu {
        width: 300px;
        height: 100vh;
        position: absolute;
        top: 0px;
        left: -5000px;
        background: rgb(21, 175, 250);
        transition: all .5s ease;
        z-index: 1000;

    }

    .section1 .show_menu_button {
        line-height: 90px;
    }

    .section1 .show_menu_button,
    .section1 .hide_menu_button {
        display: block;
    }

    .section1 .hide_menu_button {
        position: absolute;
        top: 0px;
        right: 20px;
    }


    #check:checked ~ .menu {
        left: 0px;
    }


    .section6 .container2 {
        margin: auto;
        max-width: 1000px;
        margin-top: -200px;
    }


}
@media(max-width:900px) {

    .section2 .box1 {
        width: 48%;
        padding: 40px 30px;
        float: left;
        text-align: center;
    }

    .section2 .box2 {
        width: 48%;
        float: left;
        padding: 40px 30px;
        text-align: center;
        margin-left: 2%;
    }

    .section2 .box3 {
        width: 100%;
        float: left;
        padding: 40px 30px;
        text-align: center;
    }

    .section2 .box3 p {
        width: 45%;
        margin: auto;
    }

    .section3 .div1 {
        width: 100%;
        float: none;
        margin-top: 0px;
        text-align: center;
    }

    .section3 .div1 h1 {
        font-size: 35px;
        text-align: center;
    }

    .section3 .div1 hr {
        width: 100px;
        height: 7px;
        background: rgb(21, 175, 250);
        border: none;
        margin: auto;
    }

    .section3 .div1 p {
        margin-top: 30px;
        line-height: 30px;
        text-align: center;
    }

    .section3 .div2 {
        width: 100%;
        float: none;
        margin-top: 25px;
    }

    .section4 .left_div {
        width: 100%;
        float: none;
        text-align: center;
    }

    .section4 .social_icon {
        width: 100%;
        text-align: center;
    }

    .section4 .right_div {
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 30px;
    }

    .section4 .right_div p {
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .section5 .box1 {
        width: 45%;
        float: left;
        overflow: hidden;
    }

    .section5 .box2 {
        width: 45%;
        float: left;
        margin-left: 10%;
        margin-right: 0%;
    }

    .section5 .box3 {
        width: 45%;
        margin: auto;
    }

    .section5 .box_div3 {
        width: 100%;
        float: left;
        margin-top: 30px;
    }
    .section6 .container2 {
  margin: auto;
    margin-top: auto;
  max-width: 815px;
  margin-top: -200px;
}



}
@media(max-width:850px){
        .section6 .container img {
  width: 80%;
  height: 69%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: 10%;
  z-index: -1;
}
    .section6 .container2 {
  margin: auto;
    margin-top: auto;
  margin-top: auto;
  max-width: 745px;
  margin-top: -302px;
}
}
@media(max-width:800px){
    
    .section6 .container img {
  width: 80%;
  height: 69%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: 10%;
  z-index: -1;
}
    .section6 .container2 {
  margin: auto;
    margin-top: auto;
  margin-top: auto;
  max-width: 745px;
  margin-top: -302px;
}
   
    
    
}
@media(max-width:750px){
    
     .section6 .container img {
  width: 80%;
  height: 69%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: 10%;
  z-index: -1;
}
    .section6 .container2 {
  margin: auto;
    margin-top: auto;
  margin-top: auto;
  max-width: 745px;
  margin-top: -302px;
}
   
    
}
@media(max-width:700px){
.section6 .box1 {
  width: 45%;
  float: left;
  background: white;
  padding: 20px;
      margin-left: 2.5%;
    margin-right: 2.5%;

  box-shadow: 0px 38px 10px #0000009e;
}
    .section6 .box2 {
  width: 45%;
  float: left;
      margin-left: 2.5%;

  margin-right: 2.5%;
  background: white;
  padding: 20px;
  box-shadow: 0px 38px 10px #0000009e;
}
    .section6 .box3 {
  width: 100%;
  float: left;
  background: white;
  padding: 20px;
  box-shadow: 0px 38px 10px #0000009e;
  margin-top: 30px;
}
  
}
@media(max-width:660px){
    .section7 input {
  width: 377px;
    }
    .section8 .container {
  width: 558px;
  text-align: center;
  color: white;
  padding: 20px 0px;
}
}
@media(max-width:650px){
    .section7 input {
  width: 378px;
    }
    .section8 .container {
  width: 600px;
  text-align: center;
  color: white;
  padding: 20px 0px;
}
}
@media(max-width:600px){
    .section5 .social_icon i {
  font-size: 23px;
  color: black;
  margin: 5px;
}
    .section8 .container {
  width: 460px;
  text-align: center;
  color: white;
  padding: 20px 0px;
}
    .section8 .menu li {
  display: inline-block;
  margin-top: 35px;
}
    .section4 .left_div img {
  width: 322px;
  border-radius: 30px;
}
}
@media(max-width:550px){
    .section2 .box1,
    .section2 .box2,
    .section2 .box3
    {
  width: 100%;
  padding: 40px 30px;
  float: left;
  text-align: center;
}
    .section2 .container {
  max-width: 378px;
  margin-top: 40px;
}
    .section2 .box3 p {
  width: 100%;
  margin: auto;
}
    .section7 input {
  width: 334px;
}
}
@media(max-width:510px){
    .section7 input {
  width: 236px;
}
}
@media(max-width:500px){
    .section1 .header_mid_div button {
  padding: 5px 20px;
}
    .section1 .header_mid_div h1 {
  font-size: 44px;
  color: white;
  font-weight: 600;
}
    .section3 .box1, .section3 .box2, .section3 .box3, .section3 .box4 {
  width: 100%;
  text-align: center;
  float: left;
  padding: 30px;
}
    .section5 .box1 {
  width: 100%;
  float: none;
  overflow: hidden;
}
    .section5 .container {
  max-width: 347px;
}
    .section5 .box2 {
  width: 100%;
  float: left;
  margin-left: 0%;
  margin-right: 0%;
}
    .section5 .box3 {
  width: 100%;
  margin: auto;
}
    .section5 .social_icon i {
  font-size: 45px;
  color: black;
  margin: 5px;
}
    .section6 .container img {
  width: 90%;
  height: 49%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: -1;
}
    .section6 .box1,
    .section6 .box2,
    .section6 .box3{
  width: 100%;
  float: none;
        margin-top: 20px;
        margin-left:0%;
margin-right: 0%;
  background: white;
  padding: 20px;
  box-shadow: 0px 38px 10px #0000009e;
}
    .section7 input {
  width: 278px;
}
}
@media(max-width:450px){
.section8 .container {
  width: 410px;
  text-align: center;
  color: white;
  padding: 20px 0px;
}
    .section5 .box2{
        margin-top: 30px;
    }
}
@media(max-width:435px){
    .section7 input {
  width: 236px;
}
}
@media(max-width:425px){
    .section1 .header_mid_div {
  width: 100%;
  height: 59vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
    .section6 .container2 {
  margin: auto;
    margin-top: auto;
  margin-top: auto;
  margin-top: auto;
  max-width: 359px;
  margin-top: -302px;
}
    .section1 .left_logo h1 {
  color: white;
  font-size: 34px;
  text-transform: uppercase;
  line-height: 90px;
}
}
@media(max-width:400px){
   .section1 .show_menu_button, .section1 .hide_menu_button {
  color: white;
  font-size: 25px;
  float: right;
  
}
    .section1 .left_logo h1 {
  font-size: 23px;
    }
.section1 .header_mid_div {
  width: 100%;
  height: 59vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
    .section1 .header_mid_div h1 {
  font-size: 25px;
  color: white;
  font-weight: 600;
}
    .section1 .header_mid_div p {
  font-size: 12px;
  color: white;
}
    .section1 .header_mid_div button {
  padding: 0px;
}
    .section1 .header_mid_div button {
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  padding: 5px 10px;
}
    .section2 .box1 h2,
    .section2 .box2 h2,
    .section2 .box3 h2{
  font-size: 25px;
}
    .section2 .box1 p,
    .section2 .box2 p,
    .section2 .box3 p{
        font-size: 12px;
    }
    .section3 .div1 h1 {
  font-size: 25px;
}
    .section3 .div1 p {
     font-size: 12px;
        line-height: 23px;
}
    .section3 .box3 p,
    .section3 .box1 p,
    .section3 .box2 p,
    .section3 .box4 p{
        font-size: 12px;
    }
    .section4 h1{
        font-size: 25px;
    }
    .section4 .right_div p {
  line-height: 23px;
  font-size: 12px;
}
    .section4 .right_div li {
  list-style-type: none;
  font-weight: 600;
    font-size: 12px;
    }
    .section4 .right_div .button a {
  background: rgba(21, 175, 250);
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
}
    .section5 .box1 h2,
    .section5 .box2 h2,
    .section5 .box3 h2{
        font-size: 25px;
    }
    .section5 .box1 p,
    .section5 .box2 p,
    .section5 .box3 p{
        font-size: 12px;
    }
    .section5 .social_icon i {
  font-size: 27px;
  color: black;
  margin: 5px;
}
    .section6 .box1 p, 
    .section6 .box2 p, 
    .section6 .box3 p {
  text-align: center;
  line-height: 30px;
  font-size: 12px;
}
    .section7 input {
  width: 118px;
}
    .section2 .box1, .section2 .box2, .section2 .box3 {
  width: 100%;
  padding: 40px 30px;
  float: none;
  text-align: center;
  margin: 0px;
}
    .section4 .left_div img {
  width: 260px;
  border-radius: 30px;
}
    .section4 .social_icon i {
  font-size: 36px;
  color: black;
  margin: 5px;
}
    .section6 .container img {
  width: 90%;
  height: 33%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: -1;
}
    .section6 .container2 {
  margin: auto;
    margin-top: auto;
  margin-top: auto;
  margin-top: auto;
  margin-top: auto;
  max-width: 325px;
  margin-top: -399px;
}
 
}
@media(max-width:370px){
   .section1 .show_menu_button, .section1 .hide_menu_button {
  color: white;
  font-size: 25px;
  float: right;
  
}
    .section1 .left_logo h1 {
  font-size: 23px;
    }
.section1 .header_mid_div {
  width: 100%;
  height: 59vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
    .section1 .header_mid_div h1 {
  font-size: 25px;
  color: white;
  font-weight: 600;
}
    .section1 .header_mid_div p {
  font-size: 12px;
  color: white;
}
    .section1 .header_mid_div button {
  padding: 0px;
}
    .section1 .header_mid_div button {
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  padding: 5px 10px;
}
    .section2 .box1 h2,
    .section2 .box2 h2,
    .section2 .box3 h2{
  font-size: 25px;
}
    .section2 .box1 p,
    .section2 .box2 p,
    .section2 .box3 p{
        font-size: 12px;
    }
    .section3 .div1 h1 {
  font-size: 25px;
}
    .section3 .div1 p {
     font-size: 12px;
        line-height: 23px;
}
    .section3 .box3 p,
    .section3 .box1 p,
    .section3 .box2 p,
    .section3 .box4 p{
        font-size: 12px;
    }
    .section4 h1{
        font-size: 25px;
    }
    .section4 .right_div p {
  line-height: 23px;
  font-size: 12px;
}
    .section4 .right_div li {
  list-style-type: none;
  font-weight: 600;
    font-size: 12px;
    }
    .section4 .right_div .button a {
  background: rgba(21, 175, 250);
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
}
    .section5 .box1 h2,
    .section5 .box2 h2,
    .section5 .box3 h2{
        font-size: 25px;
    }
    .section5 .box1 p,
    .section5 .box2 p,
    .section5 .box3 p{
        font-size: 12px;
    }
    .section5 .social_icon i {
  font-size: 27px;
  color: black;
  margin: 5px;
}
    .section6 .box1 p, 
    .section6 .box2 p, 
    .section6 .box3 p {
  text-align: center;
  line-height: 30px;
  font-size: 12px;
}
    .section7 input {
  width: 118px;
}
    .section2 .box1, .section2 .box2, .section2 .box3 {
  width: 100%;
  padding: 40px 30px;
  float: none;
  text-align: center;
  margin: 0px;
}
    .section4 .left_div img {
  width: 260px;
  border-radius: 30px;
}
    .section4 .social_icon i {
  font-size: 36px;
  color: black;
  margin: 5px;
}
    .section6 .container img {
  width: 90%;
  height: 33%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: -1;
}
    .section6 .container2 {
  margin: auto;
    margin-top: auto;
  margin-top: auto;
  margin-top: auto;
  margin-top: auto;
  max-width: 325px;
  margin-top: -399px;
}
 
}
@media(max-width:350px){
    .section1 .show_menu_button, .section1 .hide_menu_button {
  color: white;
  font-size: 25px;
  float: right;
  
}
    .section1 .left_logo h1 {
  font-size: 23px;
    }
.section1 .header_mid_div {
  width: 100%;
  height: 59vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
    .section1 .header_mid_div h1 {
  font-size: 25px;
  color: white;
  font-weight: 600;
}
    .section1 .header_mid_div p {
  font-size: 12px;
  color: white;
}
    .section1 .header_mid_div button {
  padding: 0px;
}
    .section1 .header_mid_div button {
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  padding: 5px 10px;
}
    .section2 .box1 h2,
    .section2 .box2 h2,
    .section2 .box3 h2{
  font-size: 25px;
}
    .section2 .box1 p,
    .section2 .box2 p,
    .section2 .box3 p{
        font-size: 12px;
    }
    .section3 .div1 h1 {
  font-size: 25px;
}
    .section3 .div1 p {
     font-size: 12px;
        line-height: 23px;
}
    .section3 .box3 p,
    .section3 .box1 p,
    .section3 .box2 p,
    .section3 .box4 p{
        font-size: 12px;
    }
    .section4 h1{
        font-size: 25px;
    }
    .section4 .right_div p {
  line-height: 23px;
  font-size: 12px;
}
    .section4 .right_div li {
  list-style-type: none;
  font-weight: 600;
    font-size: 12px;
    }
    .section4 .right_div .button a {
  background: rgba(21, 175, 250);
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
}
    .section5 .box1 h2,
    .section5 .box2 h2,
    .section5 .box3 h2{
        font-size: 25px;
    }
    .section5 .box1 p,
    .section5 .box2 p,
    .section5 .box3 p{
        font-size: 12px;
    }
    .section5 .social_icon i {
  font-size: 27px;
  color: black;
  margin: 5px;
}
    .section6 .box1 p, 
    .section6 .box2 p, 
    .section6 .box3 p {
  text-align: center;
  line-height: 30px;
  font-size: 12px;
}
    .section7 input {
  width: 118px;
}
    .section2 .box1, .section2 .box2, .section2 .box3 {
  width: 100%;
  padding: 40px 30px;
  float: none;
  text-align: center;
  margin: 0px;
}
    .section4 .left_div img {
  width: 260px;
  border-radius: 30px;
}
    .section4 .social_icon i {
  font-size: 36px;
  color: black;
  margin: 5px;
}
    .section6 .container img {
  width: 90%;
  height: 33%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: -1;
}
    .section6 .container2 {
  margin: auto;
    margin-top: auto;
  margin-top: auto;
  margin-top: auto;
  margin-top: auto;
  max-width: 325px;
  margin-top: -399px;
}
 
}
@media(max-width:300px){
   .section1 .show_menu_button, .section1 .hide_menu_button {
  color: white;
  font-size: 25px;
  float: right;
  
}
    .section1 .left_logo h1 {
  font-size: 23px;
    }
.section1 .header_mid_div {
  width: 100%;
  height: 59vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
    .section1 .header_mid_div h1 {
  font-size: 25px;
  color: white;
  font-weight: 600;
}
    .section1 .header_mid_div p {
  font-size: 12px;
  color: white;
}
    .section1 .header_mid_div button {
  padding: 0px;
}
    .section1 .header_mid_div button {
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  margin-top: 20px;
  padding: 5px 10px;
}
    .section2 .box1 h2,
    .section2 .box2 h2,
    .section2 .box3 h2{
  font-size: 25px;
}
    .section2 .box1 p,
    .section2 .box2 p,
    .section2 .box3 p{
        font-size: 12px;
    }
    .section3 .div1 h1 {
  font-size: 25px;
}
    .section3 .div1 p {
     font-size: 12px;
        line-height: 23px;
}
    .section3 .box3 p,
    .section3 .box1 p,
    .section3 .box2 p,
    .section3 .box4 p{
        font-size: 12px;
    }
    .section4 h1{
        font-size: 25px;
    }
    .section4 .right_div p {
  line-height: 23px;
  font-size: 12px;
}
    .section4 .right_div li {
  list-style-type: none;
  font-weight: 600;
    font-size: 12px;
    }
    .section4 .right_div .button a {
  background: rgba(21, 175, 250);
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 12px;
}
    .section5 .box1 h2,
    .section5 .box2 h2,
    .section5 .box3 h2{
        font-size: 25px;
    }
    .section5 .box1 p,
    .section5 .box2 p,
    .section5 .box3 p{
        font-size: 12px;
    }
    .section5 .social_icon i {
  font-size: 27px;
  color: black;
  margin: 5px;
}
    .section6 .box1 p, 
    .section6 .box2 p, 
    .section6 .box3 p {
  text-align: center;
  line-height: 30px;
  font-size: 12px;
}
    .section7 input {
  width: 118px;
}
    .section2 .box1, .section2 .box2, .section2 .box3 {
  width: 100%;
  padding: 40px 30px;
  float: none;
  text-align: center;
  margin: 0px;
}
    .section4 .left_div img {
  width: 260px;
  border-radius: 30px;
}
    .section4 .social_icon i {
  font-size: 36px;
  color: black;
  margin: 5px;
}
    .section6 .container img {
  width: 90%;
  height: 33%;
  margin: auto;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: -1;
}
    .section6 .container2 {
  margin: auto;
    margin-top: auto;
  margin-top: auto;
  margin-top: auto;
  margin-top: auto;
  max-width: 325px;
  margin-top: -399px;
}
 
}


